
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content{
   flex: 1 1 auto;
   overflow-y: auto;
   min-height: 0px;
}

.ul-poke{
  display: flex;
  flex-wrap: wrap;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  justify-content: space-evenly;
  &:after {
    content: "";
    flex: auto;
  }
}

.ul-poke li{
  list-style: none;
  margin:10px 0px;
}

.card{
  width: 150px;
  height:100%;
  margin:10px;
}


.image{
  background-repeat: no-repeat;
  background-image: url('../assets/pokeball.svg');
  background-size: cover;
}

@keyframes fadeInImg{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.img-loading{
  opacity: 0;
  width: 100%;
  height: auto;
}

.img-loaded{
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;

}

.page-header {
  @supports (-webkit-appearance:none) {
    .os-android & {
      min-height: calc(100vh - 56px);
    }
  }
}